#title {
    text-align: center;
}
.tabs {
    display: flex;
}
.tab-link {
    padding: 5px 10px;
    border: 2px solid gray;
    border-bottom: none;
    border-right: none;
    text-decoration: none;
}
.tab-link.active {
    background-color: white;
}
#endtab {
    padding: 5px 10px;
    border: 2px solid gray;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

.tab-content {
    display: none;
    padding: 10px;
    border: 2px solid gray;
}
.tab-content.active {
    display: block;
}
