.file-info {
    display: flex;
    align-items: center;
    width: 100%-10px;
    height: 20px;
}
#file-path {
    border: none;
    outline: none;
    background: none;
    font-family: monospace;
    font-size: large;
    width: 80%;
}
#file-path:hover {
    cursor: default;
}
.editor-menu {
    display: flex;
    align-items: center;
    width: 100%-10px;
    height: 30px;
    border: 2px solid gray;
    border-bottom: none;
}
#unsave {
    font-size: large;
    font-family: monospace;
    text-decoration: none;
    vertical-align: middle;
}
#unsave:hover {
    cursor: default;
}
#save {
    background: none;
    border: none;
    color: blue;
    font-size: large;
    font-family: monospace;
}
.editor-container {
    display: flex;
    align-items: flex-start;
    border: 2px solid gray;
}
.line-numbers {
    font-family: monospace;
    padding: 0.5em;
    text-align: right;
    user-select: none;
}
.line-numbers span {
    display: block;
    min-height: 1em;
}
#editor {
    flex: 1;
    padding: 0.5em;
    resize: none;
    width: 100%;
    height: auto;
    font-family: monospace;
    border: 2px solid gray;
    border-top: none;
    border-right: none;
    border-bottom: none;
    outline: none;
    overflow: hidden;
}